@use '1-helpers/mixins' as *;

#header {
  position: fixed;
  top: 0;
  z-index: 2;
}
#nav-bar {
  display: flex;
  align-items: center;
  min-height: 5.3rem;
  background-color: black;
  padding: 0px 1rem;
  width: 100vw;

  @media (max-width: 768px) {
    @include flex-col;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 50px;
  }
}

#header-img {
  padding-right: 5rem;
  padding-left: 4rem;
}

.nav-link {
  font-size: 1.3rem;
  line-height: 1.8rem;
  text-transform: uppercase;
  font-weight: 600;
  transition: background-size 0.2s;
  padding: 0 3px;

  &:not(:first-child) {
    margin-left: 2rem;

    @media (max-width: 768px) {
      margin-left: 0;
    }
  }

  &:hover,
  &:focus {
    background: linear-gradient(-120deg, #d62121, #c72c2c, #3a1111);
    background-position: 0 100%;
    background-size: 4px 4px;
    text-decoration: none;
  }

  &:active {
    background-size: 20px 70px;
  }

  @media (max-width: 768px) {
    margin: 10px;
    width: 100%;
    @include flex-col;
  }
}
