@use '1-helpers/variables' as var;
@use '1-helpers/colors' as *;
@use '1-helpers/mixins' as *;

.container {
  width: var.$main-content-width;
  margin: 6.7rem auto 3.6rem;
  padding: 5.4rem 4.5rem;
  background: linear-gradient(
    180deg,
    rgba(50, 42, 39, 0) 0%,
    rgba(45, 40, 40, 0.85) 33.85%,
    #2d2828 49.48%,
    #2d2828 68.75%,
    #2d2828 82.29%,
    #2d2828 100%
  );
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: -15px 0px 15px rgba(0, 0, 0, 0.3);
}

#hero-container {
  width: 53%;
}

#title {
  font-size: 4.6rem;
  line-height: 6.3rem;
  margin: 0;
}

.title {
  font-family: var.$font-family-secondary;
  text-transform: uppercase;
}

#subtitle {
  font-size: 1.5rem;
  line-height: 2rem;
  margin-bottom: 2.1rem;
}

.hero-content {
  margin: 2.7rem auto 2.1rem;
}

#form {
  display: flex;
  justify-content: space-between;
  font-family: "Pavanam", sans-serif;
  line-height: 1.3rem;
  color: $input-color;

  & > input {
    @include input;
    padding: 0.5rem 0 0.5rem 2.5rem;
    width: 291px;

    &:focus {
      color: #fff;

      &::placeholder {
        color: $accent-color;
        padding-left: 5px;
      }
    }
  }

  & > button {
    @include input;
    padding: 0.5rem 1.2rem;
    border-color: $accent-color;
    transition: color 0.3s;
    position: relative;

    &:hover {
      background-color: $accent-color;
      color: #fff;
      font-weight: 500;
    }

    &:after {
      content: "";
      display: block;
      position: absolute;
      border-radius: var.$round-border;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
      transition: all 0.5s;
      box-shadow: 0 0 0.7rem 2rem $input-color;
    }

    &:active:after {
      box-shadow: 0 0 0 0 $input-color;
      position: absolute;
      border-radius: 4em;
      left: 0;
      top: 0;
      opacity: 1;
      transition: 0s;
    }
  }
}
