@use '1-helpers/variables' as var;
@use '1-helpers/colors';

#blog {
  margin-top: 10em;
  border-top: 1px solid colors.$accent-color;
  padding-top: 3rem;

  .title {
    margin-bottom: 2rem;
    font-size: 1.7rem;
  }
}
